
* {
   font-family: Roboto;
   margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
.logo {
    width: 100px;
    padding: 20px;
    border-radius: 100%;
}
.first-section-text {
    width: 400px;
    
}
.first-section-text p {
    margin-bottom: 30px;
}
.astronaut {
    width: 350px;
}
.Rubicon {
    font-size: 50px;
    margin-bottom: 30px;
}
.header {
    display: flex;
    justify-content: space-around;
    background-color: #002642;
    align-items: center;
    margin: 0;
    
}
ul li {
    display: flex;
    gap: 30px;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
}
.first-section {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    gap: 200px;
    background-color: #E59500;
}
.first-button {
    background-color: #7B2D26;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 30px;
}
.first-button:hover {
    cursor: pointer;
}
.city-image {
    width: 120px;
}
.card p {
    margin-top: 10px;
}
.card {
    width: 350px;
    text-align: center;
}
.card img {
    border: solid 5px black;
    border-radius: 30px;
}
.second-section {
    text-align: center;
    background-color: #FFC482;
    
}
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    padding-bottom: 100px;
}
.random {
    margin: 0;
    padding-top: 30px;
}
.third-section {
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding: 100px;

}
.quote {
    width: 750px;
    font-size: 20px;
    font-style: italic;
}
h4 {
    font-size: 20px;
    margin-left: 600px;
}
.fourth-section {
    display: flex;
    background-color: #E59500;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px;
    border-radius: 10px;
    
}
.fourth-text {
    color: rgb(0, 0, 0);
    width: 600px;
    
}
.fourth-button {
    padding: 8px 30px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}
.footer {
    background-color: #002642;
    padding: 30px;
    color: white;
    text-align: center;
}